.fetch {
  .fetch-title-selected {
    .newData {
      margin: 30px;
      border-right: 1px solid coral;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
      height: 50%;
    }
  }
}
