.hooks {
  .use-ref-current-data {
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 27px;
    margin-top: -15px;
  }
  .use-ref-timeout-data {
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 27px;
    margin-top: -15px;
  }
}

